<h3>User</h3> 
<datasource name="OK" entity="api/cronapi/query/1iuke4m61bprl/" keys="id" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" data-component="crn-datasource" class="component-holder" id="crn-datasource-835340"></datasource><div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder"> 
  <datasource filter="" name="User" entity="api/cronapi/query/1iuke4m61bprl/" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div><div class="component-holder ng-binding ng-scope" data-component="crn-tabs" id="crn-tabs-722491"><div class="ctn-tab"><ul class="nav nav-tabs" role="tablist"><li role="presentation" class="active"><a data-target="#tab1" role="tab" data-toggle="tab">First Tab</a></li><li role="presentation"><a data-target="#tab2" role="tab" data-toggle="tab">Second Tab</a></li></ul><div class="tab-content"><div role="tabpanel" class="tab-pane active" id="tab1"><div data-container="true"></div></div><div role="tabpanel" class="tab-pane" id="tab2"><div data-container="true"></div></div></div></div></div> 
<div data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" data-component="crn-button" type="submit" onclick="" ng-click="User.startInserting()" ng-hide="User.inserting || User.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div>
<cronapp-grid options="visible : Administrators" data-component="crn-cronapp-grid" class="component-holder" id="crn-cronapp-grid-736211">
  GRID
</cronapp-grid> 
<div data-component="crn-cronapp-grid" id="crn-cronapp-grid-23782"> 
  <cronapp-grid options="{&quot;dataSource&quot;:{&quot;id&quot;:&quot;NovoMisere&quot;,&quot;serviceUrl&quot;:&quot;&quot;,&quot;serviceBaseUrl&quot;:&quot;&quot;,&quot;pathView&quot;:&quot;src/main/webapp/views/admin/user2.view.html&quot;,&quot;paramValues&quot;:null,&quot;keys&quot;:null},&quot;allowPaging&quot;:false,&quot;allowSorting&quot;:false,&quot;allowGrouping&quot;:false,&quot;allowSelection&quot;:false,&quot;selectionOption&quot;:null,&quot;height&quot;:null,&quot;pageCount&quot;:null,&quot;columns&quot;:[{&quot;field&quot;:&quot;meuOvo&quot;,&quot;headerText&quot;:&quot;Ovo&quot;,&quot;width&quot;:null,&quot;textAlign&quot;:null}]}" data-component="crn-cronapp-grid">
    GRID
  </cronapp-grid> 
</div> 
<div class="row component-holder" data-component="crn-horizontal-container" id="crn-horizontal-container-199061"> 
  <div class="column col-xs-6" data-container="true" data-replace="true">
     Content goes here 
  </div> 
  <div class="column col-xs-6" data-container="true" data-replace="true">
     Content goes here 
  </div> 
</div> 
<div class="component-holder ng-binding ng-scope" data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-875601">
  <div class="form-group">
    <label for="">Label</label>
    <ui-select crn-datasource="" ng-model="datasource.active" ng-disabled="disabled" theme="bootstrap" class="crn-select" ng-required="false">
      <ui-select-match placeholder="Select..." class="">
        {{$select.selected}}
      </ui-select-match>
      <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
        <div class="">
          {{rowData}}
        </div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="component-holder ng-binding ng-scope" data-component="crn-dynamic-file" id="crn-dynamic-file-923680"> 
  <div class="form-group"> 
    <label for="imgFor">Arquivo</label> 
    <div dynamic-file="" ng-model="vars.input7091" class="dynamic-image-container" ng-required="false" max-file-size="5MB">
       {{"template.crud.clickOrDragAnFile" | translate}} 
    </div> 
  </div> 
</div> 
<div data-component="crn-form" id="crn-form-form-User"> 
  <div class="form" ng-show="User.editing || User.inserting"> 
    <form crn-datasource="User" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <br> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div data-component="crn-textinput" id="crn-textinput-email"> 
          <div class="form-group"> 
            <label for="textinput-email" class="">Email</label> 
            <input type="text" ng-model="User.active.email" class="form-control" id="textinput-email" placeholder="Email"> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-name"> 
          <div class="form-group"> 
            <label for="textinput-name" class="">Nome</label> 
            <input type="text" ng-model="User.active.name" class="form-control" id="textinput-name" placeholder="Nome" required=""> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-login"> 
          <div class="form-group"> 
            <label for="textinput-login" class="">Login</label> 
            <input type="text" ng-model="User.active.login" class="form-control" id="textinput-login" placeholder="Login" required=""> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-password"> 
          <div class="form-group"> 
            <label for="textinput-password" class="">Senha</label> 
            <input type="password" ng-model="User.active.password" class="form-control" id="textinput-password" placeholder="Senha" required=""> 
          </div> 
        </div> 
        <!-- NtoN  --> 
        <!-- NtoN  end--> 
      </fieldset> 
    </form> 
    <form> 
      <fieldset> 
        <!-- OneToN --> 
        <!--query filter 1toN --> 
        <!-- query filter 1toN end--> 
        <div data-component="crn-datasource" class="component-holder"> 
          <datasource filter="" name="RoleGrid" enabled="{{User.editing || User.inserting}}" entity="api/cronapi/query/1je9wsqo9lt9g/{{User.active.name}}/" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="User" dependent-lazy-post-field="user"></datasource> 
        </div> 
        <button class="btn btn-primary" data-component="crn-button" onclick="$('#modalRoleGrid').modal('show');" ng-click="RoleGrid.startInserting();"><i class="fa fa-plus"></i> <span class="">{{"Add" | translate}} Função</span> </button> 
        <!--search 1toN--> 
        <!-- seach 1toN end--> 
        <div data-component="crn-textinput" id="crn-textinput-descricao"> 
          <div class="form-group"> 
            <label for="textinput-descricao" class="">Funções</label> 
            <div class="component-holder" data-component="crn-grid" id="crn-grid-RoleGrid"> 
              <div crn-datasource="RoleGrid"> 
                <table class="table table-bordered table-hover table-striped"> 
                  <thead> 
                    <tr class="table-header"> 
                      <th class=""> 
                        <div class="">
                           Função 
                        </div> </th> 
                      <th class=""> 
                        <div class="">
                           {{"template.crud.actions" | translate}} 
                        </div> </th> 
                    </tr> 
                  </thead> 
                  <tbody> 
                    <tr class="table-content" ng-repeat="rowData in datasource.data"> 
                      <td> 
                        <div>
                           {{rowData.id}} 
                        </div> </td> 
                      <td> 
                        <div> 
                          <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
                        </div> </td> 
                    </tr> 
                  </tbody> 
                </table> 
                <div class="table-footer-controls"> 
                  <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
                </div> 
              </div> 
            </div> 
          </div> 
        </div> 
        <!-- OneToOne  end --> 
      </fieldset> 
    </form> 
  </div> 
</div>
<datasource name="Datasource3493" entity="api/cronapi/query/roles/" keys="id,user" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" data-component="crn-datasource" class="component-holder" id="crn-datasource-442584" filter=""></datasource>
<div class="component-holder ng-binding ng-scope" data-component="crn-grid" id="crn-grid-357009">
  <div crn-datasource="Datasource3493">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-header">
          <th class="active">
            <div data-container="true">
              Column Header 1
            </div></th>
          <th>
            <div data-container="true">
              Column Header 2
            </div></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td class="active">
            <div data-container="true">
              {{rowData.campo01}}
            </div></td>
          <td>
            <div data-container="true">
              {{rowData.campo02}}
            </div></td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">Load more...</button>
    </div>
  </div>
</div> 
<div class="modal fade" id="modalRoleGrid"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <form> 
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button> 
          <h4 class="modal-title">Função</h4> 
        </div> 
        <datasource name="AllRoles" entity="api/cronapi/security/roles" keys="AllRoles" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" data-component="crn-datasource" class="component-holder" id="crn-datasource-211673"></datasource> 
        <div class="modal-body"> 
          <div class="list-group list-group-sm row"> 
            <div class="component-holder ng-binding ng-scope col-xs-12 col-sm-12 col-md-12 col-lg-12" data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-453587"> 
              <div class="form-group"> 
                <label for="">Função</label> 
                <ui-select crn-datasource="AllRoles" ng-model="RoleGrid.active" ng-disabled="disabled" theme="bootstrap" class="crn-select" ng-required="false"> 
                  <ui-select-match placeholder="Select..." class="">
                     {{$select.selected.name}} 
                  </ui-select-match> 
                  <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay=""> 
                    <div class="">
                       {{rowData.name}} 
                    </div> 
                  </ui-select-choices> 
                </ui-select> 
              </div> 
            </div> 
          </div> 
        </div> 
        <div class="modal-footer"> 
          <button class="btn btn-primary" data-component="crn-button" ng-click="RoleGrid.post();" onclick="(!RoleGrid.missingRequiredField()?$('#modalRoleGrid').modal('hide'):void(0))">{{'Save' | translate}}</button> 
          <button type="button" data-component="crn-button" class="btn btn-default" data-dismiss="modal">{{'Home.view.Close' | translate}}</button> 
        </div> 
      </form> 
    </div> 
  </div> 
</div>